<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快测</title>
</head>
<body>
<font size="6">
&nbsp&nbsp&nbsp请&nbsp{{student}}&nbsp回答以下{{ cc }}道选择题，每小题只有一个正确选项：
{% for item  in ci %}
<p>{{item.body|linebreaksbr}}</p>
    {% if item.pic %}
        <p><img  src="../media/{{item.pic}}"/></p>
    {% endif %}

<p>请输入你的答案：</p>
<form action="saveresult" method="GET">
      <!--<input type="hidden"name="i"value="{{ item.id }}">-->
      <input type="radio" name="{{ item.id }}" value="a" style="width: 30px;height: 30px">a&nbsp
      <input type="radio" name="{{ item.id }}" value="b"style="width: 30px;height: 30px">b&nbsp
      <input type="radio" name="{{ item.id }}" value="c"style="width: 30px;height: 30px">c&nbsp
      <input type="radio" name="{{ item.id }}" value="d"style="width: 30px;height: 30px">d&nbsp
      <input type="radio" name="{{ item.id }}" value="n"style="width: 30px;height: 30px"checked >没把握
      <!--<p>理由：<input name="answerdetail">（可不填）</p>-->

<hr>
{%  endfor %}

      <p><input type="submit"style="font-size:25px;color:red" value="提交"/></p>
</form>

</font>
</body>
</html>